################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MedPortal.Data/bin/Debug/netcoreapp2.2
/MedPortal.Data/obj/
/MedPortal.Proxy/bin/
/MedPortal.Proxy/obj/
/MedPortal.Data/bin/
/MedPortal.sln.DotSettings.user
/.vs
/MedPortal.ApiSyncService/obj/Debug/netcoreapp2.2
/MedPortal.ApiSyncService/obj
/MedPortal.ApiSyncService/bin/Debug/netcoreapp2.2
/.idea
/MedPortal.WebApiClient/ClientApp/src/app/data/*.js
/MedPortal.WebApiClient/ClientApp/src/app/data/*.js.map
/MedPortal.WebApiClient/ClientApp/src/app/data/location/location-type.js.map
/MedPortal.WebApiClient/ClientApp/src/app/data/location/location-type.js
/MedPortal.WebApiClient/ClientApp/src/app/data/location/location-category.js.map
/MedPortal.WebApiClient/ClientApp/src/app/data/location/location-category.js
/MedPortal.WebApiClient/ClientApp/src/app/data/location
/MedPortal.WebApiClient/ClientApp/src/app/data/slots/doctor-slot.js.map
/MedPortal.WebApiClient/ClientApp/src/app/data/slots/doctor-slot.js
