<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MU_DEV_WIN" connectionString="Data Source=.\SQLEXPRESSLOCAL;Initial Catalog=MedPortal;User ID=sa;Password=Fergana12;"/>
    <add name="MedPortal" connectionString="server=u0764769.plsk.regruhosting.ru;database=u0764769_MedPortal; user id=u0764769_sa; password=Ferg@n@12"/>
  </connectionStrings>
  <appSettings>
    <add key="BaseAddress" value="https://api.docdoc.ru/public/rest/1.0.12/"/>
    <add key="Login" value="partner.16844" />
    <add key="Password" value="z790bIpI" />

  </appSettings>
</configuration>