<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MedPortal" connectionString="Data Source=.\SQLEXPRESSLOCAL;Initial Catalog=MedPortal;User ID=sa;Password=Fergana12;
         Trusted_Connection=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <appSettings>
    <add key="BaseAddress" value="https://api.docdoc.ru/public/rest/1.0.12/"/>
    <add key="Login" value="partner.16844" />
    <add key="Password" value="z790bIpI" />

  </appSettings>
</configuration>