<div class="row form-group">
  <div class="col-xs-4 col-sm-3 col-md-2">
    <img class="logo" src="{{clinic.logo}}" />
  </div>
  <div class="col-xs-8 col-sm-6 col-md-5 clinic-name">
    <div class="row form-control">
      <label for="surname">Наименование:</label>
      <a routerLink="/{{clinic.city.alias}}/clinics/{{clinic.alias}}"><strong>{{clinic.name}}</strong></a>
    </div>
    <div class="row form-control">
      <label for="experience">Адрес:</label>
      <strong>{{clinic.address}}</strong>
    </div>
  </div>
</div>
