<div class="hero_home version_1">
    <div class="content">
      <h3>Найдите врача или клинику!</h3>
      <p>
        Сервис поиска и подбора врачей и клиник.
      </p>
        <div id="custom-search-input">
          <div class="input-group">
            <input type="text"
                   class="search-input search-query"
                   aria-label="Number"
                   matInput [matAutocomplete]="auto"
                   [(ngModel)]="suggestion"
                   (keyup)="onSearchInputValueChanged()"
                   placeholder="Специализация, врач, клиника...">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedValueChanged($event.option.value)">
              <mat-optgroup *ngFor="let category of categories" [label]="displayCategory(category.type)">
                <mat-option *ngFor="let item of category.items" [value]="makeOptionUniqueValue(category, item)">
                  {{item.name}}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
            <input type="submit" class="btn_search" value="Поиск" (click)="onRedirect()">
          </div>
          <!--<ul>
            <<li>
              <input type="radio" id="all" name="radio_search" value="all" checked>
              <label for="all">Все</label>
            </li>
            <li>
              <input type="radio" name="doctorRadio" value="true" [(ngModel)]="doctorsSearchSelected">
              <label for="doctorRadio">Врачи</label>
            </li>
            <li>
              <input type="radio" name="clinicRadio" value="false"  [(ngModel)]="doctorsSearchSelected">
              <label for="clinicRadio">Клиники</label>
            </li>
          </ul>-->
        </div>
    </div>
  </div>
