<header class="header_sticky">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div id="logo_home">
          <h1><a href="/" title="Врачи+Клиники">Врачи+Клиники</a></h1>
        </div>
      </div>
      <nav class="col-lg-9 col-6">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Меню</span></a>
        <ul id="top_access">
          <li>
            <i class="pe-7s-map-marker"></i>
            <select id="city" (change)="onCityChanged()" [(ngModel)]="city">
              <option *ngFor="let c of cities" [ngValue]="c">{{c.name}}</option>
            </select>
          </li>
        </ul>
        <div class="main-menu">
          <ul>
            <li><a href="/doctors">Врачи</a></li>
            <li><a href="/clinics">Клиники</a></li>
          </ul>
        </div>
        <!-- /main-menu -->
      </nav>
    </div>
  </div>
  <!-- /container -->
</header>
<!-- /header -->