<header class="header_sticky">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div id="logo_home">
          <h1><a  title="">Мед Портал</a></h1>
        </div>
      </div>
      <nav class="col-lg-9 col-6">
        <div class="main-menu">
          <ul>
            <li class="submenu">
              <a  class="show-submenu">Врачи<i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a >Home Default</a></li>
                <li><a >Home Version 2</a></li>
                <li><a >Home Version 3</a></li>
                <li><a >Home Version 4</a></li>
                <li><a >Home with Map</a></li>
                <li><a >Revolution Slider</a></li>
                <li><a >With Cookie Bar (EU law)</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a  class="show-submenu">Клиники<i class="icon-down-open-mini"></i></a>
              <ul>
                <li class="third-level">
                  <a >List pages</a>
                  <ul>
                    <li><a >List page</a></li>
                    <li><a >List grid page</a></li>
                    <li><a >List map page</a></li>
                  </ul>
                </li>
                <li class="third-level">
                  <a >Detail pages</a>
                  <ul>
                    <li><a >Detail page 1</a></li>
                    <li><a >Detail page 2</a></li>
                    <li><a >Detail page 3</a></li>
                    <li><a >Detail working booking</a></li>
                  </ul>
                </li>
                <li><a>Submit Review</a></li>
                <li><a >Blog</a></li>
                <li><a >Badges</a></li>
                <li><a >Login</a></li>
                <li><a >Login 2</a></li>
                <li><a >Register Doctor</a></li>
                <li><a >Working doctor register</a></li>
                <li><a >Register</a></li>
                <li><a >About Us</a></li>
                <li><a >Contacts</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /main-menu -->
      </nav>
    </div>
  </div>
  <!-- /container -->
</header>
<!-- /header -->
